<div class="container">
  <div class="welcome">
    <h1 class="title">Welcome</h1>
    <%= button_to "Login", new_user_session_path, method: :get, class: "login btn" %>
    <%= link_to "Sign up", new_user_registration_path, method: :get %>
  </div>
</div>