<div class="button-container">
  <a href="<%= friend_request_path(request) %>" data-turbo-method="patch">
    <button class="accept button">Accept</button>
  </a>
  <a href="<%= friend_request_path(request) %>" data-turbo-method="delete">
    <button class="ignore button">Ignore</button>
  </a>
</div>