<div class="container">
  <div class="friends">
    <h2>Friends</h2>
    <ul>
      <% @users.each do |user| %>
          <li class="friend">
            <a href="<%= user_path(user) %>">
              <img class="avatar" src="https://avatars.dicebear.com/api/initials/<%= user.profile.full_name %>.svg?radius=50" alt="avatar">
              <p class="name"><%= user.profile.full_name %></p>
            </a>
            <div class="friend-button-container">
              <%= render partial: "add_friend_button", locals: {user: user} %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>