<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @profile.first_name %>!</h1>
    <p>We are so happy that you decided to join our soscial network. There is a lot of stuff going on, check it out:</p>
    <a href="<%= @url %>">Click me!</a>
  </body>
</html>
