<div class="container">
  <div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2>
        <%= post.title %>
      </h2>
      <p>
        <%= post.body %>
      </p>
      <div class="actions">
        <% if current_user.likes.map{|l| l.post}.include?(post) %>
          <%= button_to "Liked #{post.likes.count}", root_path, class:"liked button" %>
        <% else %>
          <%= button_to "Like #{post.likes.count}", root_path, class:"like button" %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>